In [15]:
Q1={ "Answer of Q1":"This is the answer of Q1 I presented here",
    "My Name":"Prashant Nigam",
    "Assignments List":[1,2,3,"No of Assign"],
    "Age":30.6,
    "Address":(231,42,)}
print(Q1["Answer of Q1"])
print(Q1["My Name"])
print(Q1["Assignments List"])
print(Q1["Age"])
print(Q1["Address"])

This is the answer of Q1 I presented here
Prashant Nigam
[1, 2, 3, 'No of Assign']
30.6
(231, 42)

In [37]:
Q2={"Answer of Q2":"This is the answer of Q2 I presented here"}
print(Q2["Answer of Q2"])
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1
print(var1)
print(type(var1))
print(var2)
print(type(var2))
print(var3)
print(type(var3))
print(var4)
print(type(var4))

This is the answer of Q2 I presented here

<class 'str'>
[DS,ML,Python]
<class 'str'>
['DS', 'ML', 'Python']
<class 'list'>
1
<class 'int'>

In [40]:
Q3={"Answer of Q3":"This is the answer of Q3 I presented here"}
print(Q3["Answer of Q3"])

print("All are Airthmatic Operator")

This is the answer of Q3 I presented here
All are Airthmatic Operator

In [39]:
Q4={"Answer of Q4":"This is the answer of Q4 I presented here"}
print(Q4["Answer of Q4"])

Q4=[1,2,3,4,5,6,7,"Str",True,34.56,]
for i in Q4:
    print(f"i:{i}, Type:{type(i)}")

This is the answer of Q4 I presented here
i:1, Type:<class 'int'>
i:2, Type:<class 'int'>
i:3, Type:<class 'int'>
i:4, Type:<class 'int'>
i:5, Type:<class 'int'>
i:6, Type:<class 'int'>
i:7, Type:<class 'int'>
i:Str, Type:<class 'str'>
i:True, Type:<class 'bool'>
i:34.56, Type:<class 'float'>

In [19]:
Q5={"Answer of Q5":"This is the answer of Q5 I presented here"}
print(Q5["Answer of Q5"])

a=int(input("Enter the value of a : "))
b=int(input("Enter the value of b : "))
count=0
while a%b==0:
    count+=1
    a//=b
    if count>0:
        print(f"a is divisible by b {count} time ")
    elif count==0:
        print("a is not divisible by b")

This is the answer of Q5 I presented here

Enter the value of a :  10
Enter the value of b :  2

a is divisible by b 1 time

In [41]:
Q6={"Answer of Q6":"This is the answer of Q6 I presented here"}
print(Q6["Answer of Q6"])

a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for b in a:
    if b%3==0:
        print(f"{b} is divided by 3")
    else:
        print(f"{b} is not divided by 3")

This is the answer of Q6 I presented here
1 is not divided by 3
2 is not divided by 3
3 is divided by 3
4 is not divided by 3
5 is not divided by 3
6 is divided by 3
7 is not divided by 3
8 is not divided by 3
9 is divided by 3
10 is not divided by 3
11 is not divided by 3
12 is divided by 3
13 is not divided by 3
14 is not divided by 3
15 is divided by 3
16 is not divided by 3
17 is not divided by 3
18 is divided by 3
19 is not divided by 3
20 is not divided by 3
21 is divided by 3
22 is not divided by 3
23 is not divided by 3
24 is divided by 3
25 is not divided by 3

In [42]:
Q7={"Answer of Q7":"This is the answer of Q7 I presented here"}
print(Q7["Answer of Q7"])

l=[1,2,3,"Prashant",True,12.23]
print(l)
l[3]='Kumar'
print(f"{l} List is mutable ")
s=(1,2,3,"Nigam",False,54.23)
s
print(f"{s} Truple is immutable. See the eror")
s[3]="Prashant"

This is the answer of Q7 I presented here
[1, 2, 3, 'Prashant', True, 12.23]
[1, 2, 3, 'Kumar', True, 12.23] List is mutable
(1, 2, 3, 'Nigam', False, 54.23) Truple is immutable. See the eror

TypeError: 'tuple' object does not support item assignment