In [55]:
Q1="Ans of Q1"
print(Q1)
print("This is my comment") # this is Inline Comment in Python

""" This is Multiline Comment in Python
    My name is Prashant Nigam
    I'm from Gorakhpur""" # this is multilines comment in pyhton

Ans of Q1
This is my comment

" This is Multiline Comment in Python\n    My name is Prashant Nigam\n    I'm from Gorakhpur"

In [56]:
Q2="Ans of Q2"
print(Q2)
print("Variable is a alphanumeric keyword with underscore for assign an object or data like ")

a=110 # Integer data in a variable
print(f"{a}        Integer")
b="Prashant" # String data in b variable
print(f"{b}   String")
c=23.34 # Float data in c variable
print(f"{c}      Float")

print(f"{a}, {b}, {c} single line variable data")

Ans of Q2
Variable is a alphanumeric keyword with underscore for assign an object or data like
110        Integer
Prashant   String
23.34      Float
110, Prashant, 23.34 single line variable data

In [57]:
Q3="Ans of Q3"
print(Q3)
e=50
print(type(e))
f=str(e)
print(f, type(f))
d=[1,2,3,"Kumar",True,43.54]
print(type(d[3])," data type string in 3 num of index in the list")
d[3]=1258
print(type(d[3])," data type integer in 3 num of index in the list after chng ")

Ans of Q3
<class 'int'>
50 <class 'str'>
<class 'str'>  data type string in 3 num of index in the list
<class 'int'>  data type integer in 3 num of index in the list after chng

In [59]:
Q4="Ans of Q4"
print(Q4)
""" wirte any thing as command to create data. 
    and execute commmand with shift+enter or ctrl+enter"""

Ans of Q4

' wirte any thing as command to create data. \n    and execute commmand with shift+enter or ctrl+enter'

In [60]:
Q5="Ans of Q5"
print(Q5)
my_list=[1,2,3,4,5]
print(my_list)
my_list2 = my_list[1:3]
print(my_list2)

Ans of Q5
[1, 2, 3, 4, 5]
[2, 3]

In [61]:
Q6="Ans of Q6"
print(Q6)
Q6=6+5j
print(Q6,   type(Q6))

Ans of Q6
(6+5j) <class 'complex'>

In [62]:
Q7="Ans of Q7"
print(Q7)
age=25
print(age)

Ans of Q7
25

In [63]:
Q8="Ans of Q8"
print(Q8)
price=9.99
print(price,   type(price))

Ans of Q8
9.99 <class 'float'>

In [64]:
Q9="Ans of Q9"
print(Q9)
Name="Prashant Kumar Nigam"
print(Name,    type(Name))

Ans of Q9
Prashant Kumar Nigam <class 'str'>

In [65]:
Q10="Ans of Q10"
print(Q10)
Q10="Hello, World!"
print(Q10)
print(Q10[6:12])

Ans of Q10
Hello, World!
 World

In [66]:
Q11="Ans of Q11"
print(Q11)
is_student = True
print(f"i am a student. {is_student}",  type(is_student))

Ans of Q11
i am a student. True <class 'bool'>